# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store
Thumbs.db

# Project Specific
NETFILY/
dev_server.py
app.py
*.xlsx
